
h1
{
	color: red; 
	font-size: 40px;
}
.body_backgorund {
	background-image: url("bg1.jpg");
	background-size: cover;
	background-position: center;
}

#my_canvas{
background-color: white;
border-width: 10px;
border-style:ridge;
border-color: red;
}
